@page
@model webserviceModel
@using System.Net.Http
@using Microsoft.Extensions.DependencyInjection

@inject HttpClient HttpClient

<h1>API Data Results</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.webservice)
        {
            <tr>
                <td>@data.Key</td>
                <td>@data.Value</td>
            </tr>
        }
    </tbody>
</table>
